:root {
  --black: #000000;
  --white: #eae6e5;
  --grey: #88a0a8;
  --green: #7aba96;
  --brown: ##8A8070;
}

body {
  font-family: "Times New Roman", Georgia, Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

nav {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  overflow: auto
}

a{
  padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0
}