@import "./style.css";

header,
ul {
    text-align: center;
}

header,
img {
    margin: 1rem;
}

a {
    text-transform: uppercase;
}

img {
    flex-wrap: wrap
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 2.5rem;
    overflow: hidden;
    background-color: var(--white);
    border-top: 0.1em solid var(--grey);
    border-bottom: 0.1em solid var(--grey);
}

ul li {
    display: inline-block;
}

li a {
    display: block;
    color: var(--black);
    text-align: center;
    margin-bottom: 0.4em;
    padding: 1rem;
    text-decoration: none;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    width: 25%;
    text-align: center;
}

section {
    width: 30%;
}

section::after {
    content: "";
    display: table;
    clear: both;
}


section article {
    float: left;
    padding: 1rem;
    margin: 0.8em;
    width: 20em;
    height: 25em;
}

section article h6,
section article div {
    text-align: center;
}

section article div {
    margin: 0.8em;
    border-top: 0.1em solid var(--green);
    border-bottom: 0.1em solid var(--green);
}

section article p {
    font-size: 0.8em;
    margin: 0.8em;
}

section article figure {
    justify-content: center;
    margin: auto;
    width: 100%;
    display: flex;
}

aside,
section {
    float: left;
    padding: 1rem;
}

aside p {
    color: var(--darkgrey);
}

aside article {
    background-color: var(--grey);
    padding: 0.05rem;
    margin: 0;
}

aside article div {
    background-color: var(--green);
}

aside article div span {
    font-size: 1em;
    font-weight: bold;
}


footer {
    padding: 2em;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
}

footer a {
    margin: 1em;
}